<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Energiemanagement" context="tibber_sets_14406" id="14406" name="tibber_sets" external_name="Tibber Sets (14406)" version="0.2">
            <inputs>
                <input type="string" const_name="prices_today" init_value="">Prices Today</input>
                <input type="string" const_name="prices_tomorrow" init_value="">Prices Tomorrow</input>
                <input type="number" const_name="cheap" init_value="0.23">Cheap [€]</input>
                <input type="number" const_name="expensive" init_value="0.99">Expensive [€]</input>
                <input type="number" const_name="normal_intervall" init_value="0">Normal Usage</input>
            </inputs>
            <outputs>
                <output type="string" const_name="cheap1_start" init_value="">Cheap Period Start 1</output>
                <output type="string" const_name="cheap1_stop" init_value="">Cheap Period Stop 1</output>
                <output type="string" const_name="cheap2_start" init_value="">Cheap Period Start 2</output>
                <output type="string" const_name="cheap2_stop" init_value="">Cheap Period Stop 2</output>
                <output type="string" const_name="expensive1_start" init_value="">Expensive Period Start 1</output>
                <output type="string" const_name="expensive1_stop" init_value="">Expensive Period Stop 1</output>
                <output type="string" const_name="expensive2_start" init_value="">Expensive Period Start 2</output>
                <output type="string" const_name="expensive2_stop" init_value="">Expensive Period Stop 2</output>
                <output type="number" const_name="is_cheap" init_value="0">Is Cheap</output>
                <output type="number" const_name="is_expensive" init_value="0">Is Expensive</output>
            </outputs>
           <remanent_variables>
            </remanent_variables>
            <imports>
            </imports>
        </module>
    </modules>
    <logging type="None" ip="" port="" />
</config>
